a {
    // color: white;
    font-weight: bold;
}

.site-main a {
    color: $color--dark;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.btn {
    display: block;
    padding: 0.75em 1em 0.6em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: $color--dark;
    border: 2px solid $color--dark;
    color: white;
    transition: all 0.1s ease;
    border-radius: 7px;
    font-family: arpona, sans-serif;

    &:hover {
        background-color: darken($color--dark, 10%);
        border: 2px solid $color--primary;
        color: $color--primary;
        text-decoration: none;
    }

    &.btn-alt {
        background-color: black;
        border-color: black;
        font-size: 0.925em;

        &:hover {
            background-color: white;
            border-color: black;
            color: black;
        }
    }
}