html {
    font-family: $font__family-main;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-variant-numeric: lining-nums;
}

h1, h2, h3, h4, h5 {
    font-family: $font__family-heading;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
    font-style: normal;
    line-height: 1.25;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.125em;
}

body,
button,
input,
select,
optgroup,
textarea {
	font-size: $font__size-small;
}

@media screen and ( min-width: $breakpoint-xsmall ) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea { font-size: $font__size-small; }
}

@media screen and ( min-width: $breakpoint-medium ) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea { font-size: $font__size-medium; }
}

@media screen and ( min-width: $breakpoint-large ) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea { font-size: $font__size-large; }
}

@media screen and ( min-width: $breakpoint-xlarge ) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea { font-size: $font__size-xlarge; }
}

.title {
    margin: 0 0 0.125em;
	font-family: $font__family-title;
	text-transform: uppercase;
	line-height: 1;
}

.subtitle {
    margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.lead {
	font-size: 1.25em;
	font-weight: bold;
}

.features {
	margin-left: 0;
	padding-left: 0;

	li {
		list-style: none;
		font-size: 1.125em;
		font-family: $font__family-heading;
		margin-bottom: 0.5em;

		small {
			font-family: $font__family-main;
		}
	}
}

